---
export const text = "Baixe Agora";
export const className = "";
---

<button
  class={`bg-yellow-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-yellow-600 transition duration-200 ${className}`}
>
  {text}
</button>
